<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.paulrudy.alfred-link-path</string>
	<key>connections</key>
	<dict>
		<key>06FB7CD6-6205-44B6-BE56-F10AF18B5FAB</key>
		<array/>
		<key>07B977B2-6C0D-4652-89CA-7DC9482BD1B3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>531AD094-0230-4EB5-A61C-1AF610D0E427</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>143F6CC1-224F-4EB8-BA45-C419021640DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A692EC95-DC61-4171-A5D7-26FFD1742C8D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>33E3AA63-F668-45EA-9204-2DA26171A92A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A692EC95-DC61-4171-A5D7-26FFD1742C8D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3428C9AD-AD02-4642-9512-27443246A318</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A692EC95-DC61-4171-A5D7-26FFD1742C8D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4A28B208-6418-4E8B-BA0D-21203A7AA5CD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>33E3AA63-F668-45EA-9204-2DA26171A92A</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Choose the target destination</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D4E46445-A65A-4EC7-B383-21FC07706330</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>531AD094-0230-4EB5-A61C-1AF610D0E427</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EB28A239-B116-4549-8086-E07E64B5753F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>57001FED-129B-4AED-B5F2-ED979EEBFF88</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>59CC6FDA-C413-44FA-8B80-FEC4D097EA82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>59CC6FDA-C413-44FA-8B80-FEC4D097EA82</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03C2B78F-7EB8-4CBF-83D4-BD949009D856</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>6F401F55-B45E-46E3-A1A7-97517B4063C7</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F0523BA2-92B8-49ED-B88F-543CF856656E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>859D5896-0A63-47A7-9E4E-5D416234EF88</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>57001FED-129B-4AED-B5F2-ED979EEBFF88</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A692EC95-DC61-4171-A5D7-26FFD1742C8D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BB53674C-DFEC-4041-9138-7C2AF54CE0EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BB53674C-DFEC-4041-9138-7C2AF54CE0EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA330387-8A7B-4C05-A59E-5E6D96043687</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>412CD9E9-71A3-4CD9-946C-38CAA7F9EEB8</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2C82A8AC-04EC-4FDE-8EA3-46A44D23335D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C5D8CF1D-820F-40FF-9AA4-A18C0B3B9E1D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3428C9AD-AD02-4642-9512-27443246A318</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Choose the target destination</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>143F6CC1-224F-4EB8-BA45-C419021640DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CA330387-8A7B-4C05-A59E-5E6D96043687</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>859D5896-0A63-47A7-9E4E-5D416234EF88</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>412CD9E9-71A3-4CD9-946C-38CAA7F9EEB8</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>07B977B2-6C0D-4652-89CA-7DC9482BD1B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F8454F44-73E6-41DF-A4BF-C66182674258</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D4E46445-A65A-4EC7-B383-21FC07706330</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A692EC95-DC61-4171-A5D7-26FFD1742C8D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EB1C81B2-CAC6-4393-B4C8-95B0D28AEC75</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>06FB7CD6-6205-44B6-BE56-F10AF18B5FAB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>412CD9E9-71A3-4CD9-946C-38CAA7F9EEB8</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>920F225D-9641-4B59-BA49-CC164F2F104B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EB28A239-B116-4549-8086-E07E64B5753F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EB1C81B2-CAC6-4393-B4C8-95B0D28AEC75</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F0523BA2-92B8-49ED-B88F-543CF856656E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EB1C81B2-CAC6-4393-B4C8-95B0D28AEC75</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>paulrudy</string>
	<key>description</key>
	<string>Create a symbolic link or Finder alias to a file or folder</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Link Path</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Error: {var:symlink_output2}</string>
				<key>title</key>
				<string>Link Path</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>03C2B78F-7EB8-4CBF-83D4-BD949009D856</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/symlink.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>859D5896-0A63-47A7-9E4E-5D416234EF88</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>jumpto</key>
				<string>alfred.action.move</string>
				<key>path</key>
				<string>{var:target_path}</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.actioninalfred</string>
			<key>uid</key>
			<string>06FB7CD6-6205-44B6-BE56-F10AF18B5FAB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:symlink_output2}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>error</string>
						<key>uid</key>
						<string>6F401F55-B45E-46E3-A1A7-97517B4063C7</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>59CC6FDA-C413-44FA-8B80-FEC4D097EA82</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>
</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>symlink_output</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>57001FED-129B-4AED-B5F2-ED979EEBFF88</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>target_path</key>
					<string>{var:symlink_output1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F0523BA2-92B8-49ED-B88F-543CF856656E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<true/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Create symbolic link</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>4A28B208-6418-4E8B-BA0D-21203A7AA5CD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>choose_target_dir</key>
					<string>true</string>
					<key>link_type</key>
					<string>symbolic</string>
					<key>source_path</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>33E3AA63-F668-45EA-9204-2DA26171A92A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:choose_target_dir}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>true</string>
						<key>outputlabel</key>
						<string>choose folder</string>
						<key>uid</key>
						<string>412CD9E9-71A3-4CD9-946C-38CAA7F9EEB8</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>same folder</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>EB1C81B2-CAC6-4393-B4C8-95B0D28AEC75</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>link_type</key>
					<string>symbolic</string>
					<key>source_path</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D4E46445-A65A-4EC7-B383-21FC07706330</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/path.exists</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>A692EC95-DC61-4171-A5D7-26FFD1742C8D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string>{var:target_path}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>920F225D-9641-4B59-BA49-CC164F2F104B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:link_type}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>symbolic</string>
						<key>outputlabel</key>
						<string>symlink</string>
						<key>uid</key>
						<string>412CD9E9-71A3-4CD9-946C-38CAA7F9EEB8</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:link_type}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>alias</string>
						<key>outputlabel</key>
						<string>alias</string>
						<key>uid</key>
						<string>F8454F44-73E6-41DF-A4BF-C66182674258</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>CA330387-8A7B-4C05-A59E-5E6D96043687</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>true</string>
						<key>outputlabel</key>
						<string>exists</string>
						<key>uid</key>
						<string>412CD9E9-71A3-4CD9-946C-38CAA7F9EEB8</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>BB53674C-DFEC-4041-9138-7C2AF54CE0EA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<true/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Create alias</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>C5D8CF1D-820F-40FF-9AA4-A18C0B3B9E1D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>choose_target_dir</key>
					<string>true</string>
					<key>link_type</key>
					<string>alias</string>
					<key>source_path</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3428C9AD-AD02-4642-9512-27443246A318</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/alias.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>531AD094-0230-4EB5-A61C-1AF610D0E427</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:source_path}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>07B977B2-6C0D-4652-89CA-7DC9482BD1B3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>target_path</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>EB28A239-B116-4549-8086-E07E64B5753F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>link_type</key>
					<string>alias</string>
					<key>source_path</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>143F6CC1-224F-4EB8-BA45-C419021640DC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Error: The input path {var:source_path} doesn't exist</string>
				<key>title</key>
				<string>Link Path</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2C82A8AC-04EC-4FDE-8EA3-46A44D23335D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Link Path - Alfred workflow

[Available on the Alfred Gallery](https://alfred.app/workflows/paulrudy/link-path/)

[Alfred forum thread](https://www.alfredforum.com/topic/23192-link-path-make-a-finder-alias-or-symbolic-link/)

Create a symbolic link or Finder alias to a file or folder

## Usage

Create a symbolic link or Finder alias via the [Universal Actions](https://www.alfredapp.com/help/features/universal-actions/).

![screenshot of Link Path universal actions](src/screenshots/universal-action.png)

- &lt;kbd&gt;↩︎&lt;/kbd&gt; Place the link in the same folder as the source
- &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩︎&lt;/kbd&gt; Use Alfred to move the link to another location

Aliases are renamed according to Finder's behavior. Symbolic links are renamed in the same way, to avoid overwriting files that already exist in the destination path. For example: For a source `foo.txt`, the symlink will be named `foo symlink.txt`, or `foo symlink 2.txt`, etc.

The default suffix ` symlink` can be changed or omitted in the [Workflow Configuration](https://www.alfredapp.com/help/workflows/user-configuration/).</string>
	<key>uidata</key>
	<dict>
		<key>03C2B78F-7EB8-4CBF-83D4-BD949009D856</key>
		<dict>
			<key>xpos</key>
			<real>1065</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>06FB7CD6-6205-44B6-BE56-F10AF18B5FAB</key>
		<dict>
			<key>xpos</key>
			<real>1245</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>07B977B2-6C0D-4652-89CA-7DC9482BD1B3</key>
		<dict>
			<key>xpos</key>
			<real>730</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>143F6CC1-224F-4EB8-BA45-C419021640DC</key>
		<dict>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>2C82A8AC-04EC-4FDE-8EA3-46A44D23335D</key>
		<dict>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>33E3AA63-F668-45EA-9204-2DA26171A92A</key>
		<dict>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>3428C9AD-AD02-4642-9512-27443246A318</key>
		<dict>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>4A28B208-6418-4E8B-BA0D-21203A7AA5CD</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>531AD094-0230-4EB5-A61C-1AF610D0E427</key>
		<dict>
			<key>note</key>
			<string>create alias, return alias path</string>
			<key>xpos</key>
			<real>805</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>57001FED-129B-4AED-B5F2-ED979EEBFF88</key>
		<dict>
			<key>xpos</key>
			<real>885</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>59CC6FDA-C413-44FA-8B80-FEC4D097EA82</key>
		<dict>
			<key>xpos</key>
			<real>960</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>859D5896-0A63-47A7-9E4E-5D416234EF88</key>
		<dict>
			<key>note</key>
			<string>create symlink, appending string + number if needed, return symlink path</string>
			<key>xpos</key>
			<real>730</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>920F225D-9641-4B59-BA49-CC164F2F104B</key>
		<dict>
			<key>xpos</key>
			<real>1245</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>A692EC95-DC61-4171-A5D7-26FFD1742C8D</key>
		<dict>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>BB53674C-DFEC-4041-9138-7C2AF54CE0EA</key>
		<dict>
			<key>xpos</key>
			<real>525</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>C5D8CF1D-820F-40FF-9AA4-A18C0B3B9E1D</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>345</real>
		</dict>
		<key>CA330387-8A7B-4C05-A59E-5E6D96043687</key>
		<dict>
			<key>xpos</key>
			<real>615</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>D4E46445-A65A-4EC7-B383-21FC07706330</key>
		<dict>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>EB1C81B2-CAC6-4393-B4C8-95B0D28AEC75</key>
		<dict>
			<key>xpos</key>
			<real>1120</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>EB28A239-B116-4549-8086-E07E64B5753F</key>
		<dict>
			<key>xpos</key>
			<real>960</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>F0523BA2-92B8-49ED-B88F-543CF856656E</key>
		<dict>
			<key>xpos</key>
			<real>1040</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Enable symlink suffix</string>
			</dict>
			<key>description</key>
			<string>Check to include a suffix for the symlink filename. Default is " symlink", or define a custom suffix below.</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>sl_suffix_enable</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Enter a string to append to the name of any symlink created in case of filename conflict. Use "[space]" to designate a leading space character. Leave blank to skip.</string>
			<key>label</key>
			<string>Custom symlink suffix</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>sl_suffix_custom</string>
		</dict>
	</array>
	<key>variables</key>
	<dict>
		<key>sl_suffix_default</key>
		<string>[space]symlink</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.1</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
